@model IEnumerable<CarRental.Models.TransactionModels.ModelTransactionList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveTransaction"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveTransaction"]
    </div>
}

<table class="table table-hover col-sm-1" style="background-color: lightgrey">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RetunrDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalAmount)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CarID)*@
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CustomerID)*@
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>

        @*<th
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetunrDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalAmount)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.CarID)*@
                @Html.DisplayFor(modelItem => item.CarModel)
                @*("CarID", null, htmlAttributes: new { @class = "form-control" })*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TransID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TransID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TransID })
            </td>
        </tr>
    }

</table>
